*{
    margin: 0;
    scroll-behavior: smooth;
    font-family: system-ui;
}

/*Shoes.html*/
.shoes {
    min-height: 25vh;
    background-color: rgb(31, 31, 31);
    color: white;
}

.shoes h1 {
    margin-top: 5%;
    padding-left: 5%;
    font-size: 1.5rem;
    display: inline-block; /*tog bort standard margin*/
}

.text-p {
    padding: 5%;
    font-weight: 400;
}

.products {
    margin-top: 10px;
    height: auto;
}

.grid-s {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    overflow-y: auto;
    max-height: 650px;
}

html {
     overflow: auto;       /* or scroll if needed */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.html::-webkit-scrollbar {
    display: none;
}

header, main, footer {
    padding: 3%;
}

main {
    min-height: 100vh;
    padding: 0;
}

header div {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

header div h3 {
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
}


.menuBtn {
    background-color: transparent;
    border: none;
    justify-self: left;
    margin-left:5px
}

.menuBtn span {
    font-size: 1.8rem;
    color: rgb(36, 36, 36);
}

.home {
    position: relative;
    height: 50vh;
    width: 100%;
    overflow: hidden;

    display: flex;
    justify-content: center; /*används för att positionera flex-items på x-axeln om flex-direction:row;*/
    align-items: flex-end; /*används för att positionera flex-items vertikalt på y-axeln flex-direction:row;*/
    padding-bottom: 10%;
}

.description {
    text-align: center;
    padding: 0 3%;
}

.description h1 {
    text-transform: uppercase;
    color: white;
    font-family: system-ui;
    font-weight: 400;
    font-size: 1.7rem;
}

.description h5 {
    margin-top: 10px;
    color: rgb(230, 230, 230);
    font-family: Arial;
    font-size: 1.1rem;
    font-weight: 500;
}

.description button {
    margin-top: 15px;
    padding: 3%;
    border: none;
    text-transform: uppercase;
    border-radius: 2px;
    font-size: 0.85rem;
    background-color: rgb(231, 231, 231);
}

.home video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.home2 {
    height: auto;
    background-color: transparent;
}

.home2 button {
    display: block;
    margin: auto;
    background-color: transparent;
    padding: 2%;
    margin-bottom: 10px;
    text-transform: uppercase;
    background-color: white;
    border-radius: 2px;
}

.home2 h3 {
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-family: system-ui;
    font-weight: 400;
    font-size: 1.7rem;
}


.grid-i {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding: 2%;
    row-gap: 20px;
}

.imgBox img {
    height: 100%;
    object-fit: cover;
}

.imgBox {
    aspect-ratio: 1 / 1;
}

.textBox {
    padding: 2%;
    font-family: system-ui;
    font-weight: 400;
}

.textBox h4 {
    font-size: 1.05rem;
    font-weight: 400;
}


.textBox h6 {
    font-size: 0.85rem;
    font-weight: 400;
}

img {
    width: 100%;
    display: block;
}

.home3 {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
        text-align: center;
}


.text p {
    font-weight: 400;
    font-size: 1.6rem;
}

.home4 {
    height: 30vh;   
    position: relative;  
    overflow: hidden;    
}

.home4 video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}

footer {
    padding: 0;
}


.information {
    min-height: auto;
    background-color: rgb(41, 41, 41);
    padding: 5%;
}

.info {
    padding: 2%;
    display: grid;
    text-transform: uppercase;
    min-height: 14vh;
    grid-template-columns: 1fr;
    color: rgb(230, 230, 230);
}

.info div {
    display: flex;
}

.info div h4 {
    font-weight: 400;
}

.info div button {
    background-color: transparent;
    border: none;
    color: white;
    margin-left: auto;
}

.info div button span {
    font-size: 1.2rem;
}

.policy-list {
    color: white;
    text-transform: uppercase;
}

.policy-grid {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 items per row */
    gap: 10px;
    align-items: center;
}

.policy-grid a {
    position: relative;
    text-decoration: none;
    color: rgb(230, 230, 230);
    font-size: 0.8rem;
    padding-right: 12px;
}

.policy-grid a::after {
     content: "•";
     position: absolute;
     right: 0;
     top: 0;
     color: rgb(230, 230, 230);
}

.policy-grid a:nth-child(3n)::after {
    content: "";
}

.policy-list h4 {
    text-align: center;
    font-weight: 400;
}

.policy-list p {
    margin-top: 10px;
    text-align: center;
    font-size: 0.75rem;
    color: rgb(221, 221, 221);
}

.policy-items {
    display: flex;
    flex-direction: column; /* vertical stacking */
    gap: 6px;               /* space between items */
}

.policy-items a {
    text-decoration: none;
    color: rgb(230, 230, 230);
    font-size: 0.9rem;
}

.policy-items a:hover {
    text-decoration: underline;
}



@media(min-width:700px) {

    .grid-i {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .grid-s {
         grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(min-width:1000px) {

    .grid-i {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .grid-s {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    header {
        padding: 2%;
    }

}

@media(min-width:600px) {

    header {
        padding: 2%;
    }
}

@media(min-width:1200px) {

    header {
        padding: 1.5%;
    }

    .home2 button {
        min-width: 10vw;
        padding: 1%;
    }

    .text p{
        font-size: 2rem;
    }

   .information {
    
   }
}


.sidebar {
    position: fixed;
    background-color: white;
    top: 0;
    width: 250px;
    height: 100%;
    padding: 3%;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1;
}

.sidebar div {
    display: flex;
    justify-content: flex-end;
}

.sidebar button {
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar ul {
    margin-top: 15px;
    line-height: 60px;
    list-style-type: none;
}

.sidebar ul a {
        text-decoration: none;
        color: black;
        font-size: 1.4rem;
        text-transform: uppercase;
}

.sidebar ul li:hover {
    background-color: rgb(235, 235, 235);
}


/*Shoes.html*/
